@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-family: 'Roboto';
    margin: 0 !important;    
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #fafafa;
    color: #212121;
}